{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <h2>
            تغییر پسورد
        </h2>

        <hr/>

        <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            {{ change_password_form.as_p }}
            <input type="submit" value="تغییر پسورد">
        </form>

        {% if error %}
            <hr/>
            <p style="color: red">
                {{ error }}
            </p>
        {% elif success %}
            <hr/>
            <p style="color: green">
                {{ success }}
            </p>
        {% endif %}

    </div>

{% endblock %}