{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row text-center">
            <h1>{{ session.title }}</h1>
        </div>
        <!-- /.row -->

        <hr/>
        <h4>
            مطالب ارائه‌‌شده:
        </h4>
        <br>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% for content in contents %}
                    <p><b>{{ content.title }}</b></p>
                    <p align="jusfity">
                        {{ content.content|safe }}
                    </p>
                    <br>
                {% endfor %}
            </div>
        </div>

        <h4>
            فایل‌های ضمیمه شده برای این جلسه
        </h4>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% for file in files %}
                    <a href="{{ file.file.url }}">{{ file.title }}</a>
                    <small>
                        ارسال شده در تاریخ
                        {{ file.creation_date|timesince }}
                        قبل
                    </small>
                {% endfor %}
            </div>
        </div>

    </div>
    <!-- /.container -->

{% endblock %}