{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">

            <h2>{{ main_content.title }}</h2>

            <div class="col-md-10 col-md-offset-1">

                <p align="justify">
                    {{ main_content.content|safe }}
                </p>
                {% if main_content.file %}
                    <a href="{{ main_content.file.url }}">
                        دریافت فایل
                    </a>
                {% endif %}
                <p>
                    ایجاد شده در تاریخ:
                    <i dir="ltr">{{ main_content.creation_date|timesince }}</i>
                    گذشته
                </p>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}