{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <!-- /.col-md-8 -->
            <div class="col-md-12 text-center">
                <h3>
                    سرفصل‌ها/فایل‌ها/مطالب جلسات ارائه‌شده
                </h3>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <hr/>

        <!-- Content Row -->
        <div class="row">
            {% for session in class_sessions %}
                <div class="col-md-4 text-center">
                    <h4><b>{{ session.title }}</b></h4>
                    <p dir="ltr">{{ session.creation_date|timesince }} ago</p>
                    <a class="btn btn-default" href="{% url 'class_session' id=session.id %}">
                        مشاهده اطلاعات این جلسه
                    </a>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}